@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
      font-family: 'Roboto';
      font-style: normal;
      font-weight: 400;
      font-display: swap;
      src: url(/fonts/Roboto.woff2) format('woff2');
    }
}

#user {
    width: 600px;
    height: 90px;
}

.name-user-active {
    font-size: 11px;
    line-height: 0.75rem;
    padding: 10px;
}

/* test da modificare */
.max-w-screen-xl {
    max-width: 1200px !important;
}

.container-home {
    max-height: 340px;
}